/* You can add global styles to this file, and also import other style files */
/*
deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css

alternative options is have following in index.html
<link href="node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    margin: 0;
    padding: 0;
}

body, input[text], button { 
    font-family: Roboto, Arial, sans-serif;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    cursor: pointer;
    cursor: hand;
}